@import "../../../styles/brakpoints.scss";

.navbar {
  position: sticky;
  top: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
  background-image: linear-gradient(to bottom, var(--color-black), transparent);

  @include respond(tablet) {
    height: 7rem;
    padding: 0 3rem;
  }
}