@import "../../../styles/brakpoints.scss";

.about {
  // border: 1px solid white;
  padding: 5rem 0;
  position: relative;

  @include respond(desktop) {
    padding: 10rem 0 0;
  }

  @include respond(ultrawide) {
    padding: 20rem 0 0;
  }

  &__content {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 10;

    @include respond(tablet) {
      margin-top: 5rem;
      margin-left: 5rem;
    }

    @include respond(desktop) {
      margin-top: 10rem;
      margin-left: 10rem;
    }

    @include respond(ultrawide) {
      margin-top: 15rem;
      margin-left: 15rem;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%) scale(1.5) rotateZ(-2deg);
    z-index: -1;

    @include respond(tablet) {
      width: 300px;
    }

    @include respond(desktop) {
      width: 500px;
    }
  }

  &__cta {
    padding: 2rem;
    z-index: 10;

    &__buttons {
      margin-top: 3rem;
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: flex-end;
    }

    @include respond(tablet) {
      padding: 5rem;
    }

    @include respond(desktop) {
      padding: 10rem;
    }
  }
}