@import "../../../styles/brakpoints.scss";

.work {
  // border: 1px solid white;
  margin: 1rem;
  position: relative;

  @include respond(tablet) {
    margin: 3rem;
  }

  @include respond(desktop) {
    margin: 5rem;
  }

  @include respond(ultrawide) {
    margin: 10rem;
  }

  &__carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform: rotateZ(2deg) scale(1.25);
    gap: .5rem;
    opacity: .5;

    div {
      opacity: .5;
      width: 70vw;
      aspect-ratio: 6/4.5;
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &:nth-child(2), &:nth-child(3) {
        display: none;
      }
    }

    &__first-image {
      transform: rotateZ(2deg) translateY(-3rem);
    }

    &__second-image {
      transform: rotateZ(2deg) translateY(0);
    }

    &__third-image {
      transform: rotateZ(2deg) translateY(3rem);
    }

    @include respond(tablet) {
      gap: 1rem;

      div {
        width: 50vw;
        &:nth-child(2), &:nth-child(3) {
          display: block;
        }
      }
    }

    @include respond(desktop) {
      gap: 4rem;

      &__first-image {
        transform: rotateZ(2deg) translateY(-10rem);
      }
  
      &__second-image {
        transform: rotateZ(2deg) translateY(0);
      }
  
      &__third-image {
        transform: rotateZ(2deg) translateY(10rem);
      }
    }
  }

  &__list {
    margin-top: 1.5rem;
    
    &__item {
      a {
        border-bottom: 1px solid var(--color-white);
        height: 5rem;
        // background-color: red;
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      img {
        transition: .3s;
      }

      &:hover {
        cursor: pointer;

        img {
          transform: translate(.5rem, -.5rem);
        }
      }

      @include respond(desktop) {
        a{
          height: 7rem;
        }
      }

      @include respond(ultrawide) {
        a{
          height: 10rem;
        }
      }
    }
  }

  &__cta {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
  }
}